
:root{
--text-color:#757575;
--main-font-color:#212121;
--section-light-bg:#F5F4FA;
--section-dark-bg:#2F303A;
--main-blue-color:#2196F3;
--black-color:#000;
--white-color:#fff;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--text-color);
}